<title>Vault</title>

{% extends "base.html" %} {% block navbar %}
<a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
{% endblock %} {% block content %}
<h1 class="page-title">My Vault</h1>
<body class="home-bground">
  <ul class="list-group list-group-flush" id="accounts">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 g-4 back-group">
        <!-- User is passed from views home function -->
        {% for account in user.accounts %}
        <div class="col mb-4 mobile">
          <div class="card h-100 round-card">
            <button
              class="btn position-absolute btn-lg"
              style="top: 8px; right: 5px"
              onclick="confirmDelete(' {{ account.id }} ')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="card-body">
              <h5 class="card-title" style="font-size: 30px">
                {{ account.AccountTitle | decrypt }}
              </h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="list-item-content">
                  <span class="list-item-label"><u>Username:</u></span>
                  <span
                    id="username-{{ loop.index }}"
                    class="list-item-value text-wrap"
                    style="word-break: break-word"
                    >{{ account.UserName | decrypt }}</span
                  >
                  <button
                    class="btn btn-sm list-item-action cpy"
                    onclick="copyToClipboard('username-{{ loop.index }}')"
                  >
                    Copy
                  </button>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-item-content">
                  <span class="list-item-label"><u>Email:</u></span>
                  <span
                    id="email-{{ loop.index }}"
                    class="list-item-value text-wrap"
                    style="word-break: break-word"
                    >{{ account.Email | decrypt }}</span
                  >
                  <button
                    class="btn btn-sm list-item-action cpy"
                    onclick="copyToClipboard('email-{{ loop.index }}')"
                  >
                    Copy
                  </button>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-item-content">
                  <span class="list-item-label"><u>Password:</u></span>
                  <input
                    id="password-{{ loop.index }}"
                    class="list-item-value password-input password-align"
                    type="password"
                    value="{{ account.Password | decrypt }}"
                    readonly
                  />
                  <button
                    class="btn btn-sm list-item-action cpy"
                    onclick="copyToClipboard('password-{{ loop.index }}')"
                  >
                    Copy
                  </button>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-item-content">
                  <span class="list-info-label"><u>Additional:</u></span>
                  <span
                    class="list-item-value text-wrap"
                    style="word-break: break-word"
                    >{{ account.Additional | decrypt }}</span
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </ul>

  <form method="POST" action="{{ url_for('views.add_account') }}">
    <br />
    <div align="center">
      <button
        class="btn big-button"
        type="button"
        data-toggle="collapse"
        data-target="#account"
        onclick="scrollToBottom()"
      >
        Add account
      </button>
      <div class="collapse" id="account">
        <br />
        <div class="form-container">
          <input
            name="accountTitle"
            id="accountTitle"
            class="form-control"
            placeholder="Enter the Account Name"
          />
          <br />
          <input
            name="userName"
            id="userName"
            class="form-control"
            placeholder="Enter your username"
          />
          <br />
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            placeholder="Enter your email"
          />
          <br />
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="Enter your password"
          />
          <br />
          <textarea
            type="text"
            name="additional"
            id="additional"
            class="form-control"
            placeholder="Enter any additional info"
          ></textarea>
          <br />
          <div align="center">
            <button type="submit" class="btn big-button">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>

{% endblock %}
