.mobile{
    box-sizing: content-box;
    width: 555px;
    flex: 100%;
    max-width: 555px;
    min-width: 555px;
    padding-left: 0;
    padding-right: 0;
  }

  .row{
    justify-content: center;
  }

  .back-group{
    background-color: lightgrey;
    padding: 0 0 0 0
  }

@media only screen and (max-width: 660px){

    .mobile{
      min-width: 0px;
  } 
}

@media only screen and (max-width: 440px){

    .password-align{
      max-width: 100px;
  }
}