
.list-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.list-info-label {
  flex: 0.7;
}
.list-item-label {
  flex: 0.8;
}
.list-item-value {
  flex: 2.2;
}
.list-item-action {
  flex: 0;
  max-width: 70px;
}


.password-input {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  cursor: default;
}

body{

  background-image: url('/static/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.home-bground{
  background: url('/static/images/home-background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.round-card{

  border: none !important;
  background: #91a5b5;
  border-radius: 1.5rem;
}


.form-container {

  border: 1px solid darkgrey;
  border-radius: 1rem;
  padding: 15px;
  padding-bottom: 20px;
  padding-top: 30px;
  background-color: darkgrey;
  margin-bottom: 10px;

}


.page-title {

  text-align: center;
  padding: .7rem;
  color: #363535;
}

.card-title{
  color: #404040;
}


.log{
  background-color: #91a5b5;
  padding: 1rem;
  border-radius: 1rem;

}

.cpy{

  margin-left: 0.5rem;
  color: #91a5b5;
  border-color: #91a5b5;

}


.cpy:hover {
  background-color: #91a5b5;
  color: white;
}

.big-button{

  background-color: #363535;
  color: #adacac;
  border-color: #363535;  

}

.big-button:hover{

  color: white;  

}

.back-group{
  background-color: darkgrey;
  padding-top: 1.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
}